*.a
*.cmd
*.d
*.dvi
*.fdb_latexmk
*.fls
*.generated.S
*.hi
*.ko
*.mod
*.mod.c
*.o
*.out
*.swo
*.swp
*.symvers
*.synctex.gz
*eps-converted-to.pdf
*~
.depend
apps/event/pingpong
apps/event/stream
apps/udp/ix_client
apps/udp/ix_server
apps/udp/linux_client
apps/udp/linux_server
ix/core/profiler_funcinfo_init.h
ix/ix
ix/ix.cfg
latex-all.tex
main.aux
main.bbl
main.blg
main.dvi
main.log
main.pdf
modules.order
osdi.aux
osdi.bbl
osdi.blg
osdi.log
osdi.pdf
tags
