*~
osdi.aux
osdi.bbl
osdi.blg
osdi.log
osdi.pdf
main.log
main.aux
main.bbl
main.dvi
main.blg
main.pdf
latex-all.tex
*eps-converted-to.pdf
*.o
*.d
*.a
*.swp
*.swo
*.hi
*.cmd
*.out
tags
.depend
ix/ix
ix/ix.cfg
*.mod
*.mod.c
*.ko
*.symvers
modules.order
apps/udp/linux_server
apps/udp/linux_client
apps/udp/ix_server
apps/udp/ix_client
apps/event/pingpong
apps/event/stream

